// app/assets/stylesheets/devise.scss

// app/views/devise/sessions/new.html.erb
.new-sessions-container {
  text-align: center;
}

.field {
  margin-top: 30px;
  margin-bottom: 10px;
}

.devise-btn {
  padding: 10px 20px;
  color: white;
  border-radius: 999px;
  text-decoration: none;
  border: none;
  background-color: #8b5cf6;
  margin-bottom: 20px;
}

// app/views/devise/shared/_links.html.erb
.devise-link {
  padding: 10px 20px;
  color: white;
  border-radius: 999px;
  text-decoration: none;
  border: none;
  background-color: #8b5cf6;
  display: inline-block;
  margin-bottom: 12px;
}

// app/views/devise/registrations/new.html.erb
.registrations-new-container {
  text-align: center;
}

//rails assets:precompile rails s

// app/views/devise/registrations/new.html.erb
